.header {
  display: flex;
  width: 100%;
  min-height: 75px;
  padding: 36px 0 19px 0;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__title {
  font-size: var(--smal-fs);
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.1em;
  margin: 0;
}
